@import "config";
@import "../../node_modules/rfs/sass.sass";

.contact {
	margin-bottom: 3rem;
	color: $slate;
	font-family: "JetBrains Mono", monospace;
	&__btn {
		width: fit-content;
		margin: 3rem auto;
	}
}
