@import "config";
@import "../../node_modules/rfs/sass.sass";

// .project-wrapper {
// 	@include margin(0 0 0 5rem);
// 	@include padding(0 2rem);
// }
.project {
	display: flex;
	align-items: center;
	margin: 5rem 0;
	&:nth-child(odd) {
		flex-direction: row-reverse;
	}

	&__img {
		width: 50%;
	}
	&__content {
		margin: 0 3rem;
		width: 50%;
	}
}
.img-project {
	width: 100%;
}

.title-wrapper {
	display: flex;
	margin: 3rem 0;
}
.project-number {
	width: 50%;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		bottom: 4px;
		height: 1px;
		background: $light-slate;
		display: block;
	}
}
.project-title {
	color: $lightest-slate;
	font-family: "Montserrat", sans-serif;
	@include font-size(1.5rem);
	white-space: nowrap;
	margin: 3rem 0;
}
.project-description {
	color: $slate;
	font-family: "JetBrains Mono", monospace;
}
.project-techlist {
	margin: 1rem 0;
	list-style: none;
	color: $green;
	font-family: "JetBrains Mono", monospace;
	display: flex;
	flex-direction: row;
	padding: 0.5rem 0;
	.project-tech {
		@include font-size(0.8rem);
		padding-right: 3em;
		font-weight: 200;
	}
}
.project-view {
	text-transform: uppercase;
	color: $slate;
	margin: 2rem 0;
	a {
		color: $slate;
		letter-spacing: 2px;
		font-weight: 500;
		padding-right: 1em;
		font-family: "Montserrat", sans-serif;
		line-height: 2;
	}
}
main {
	counter-reset: main-title-counter;
	section {
		.numbered-title {
			width: 50%;
			&:before {
				counter-increment: main-title-counter;
				content: "0" counter(main-title-counter);
				font-family: "Montserrat", sans-serif;
				color: $green;
				position: relative;
				font-weight: 900;
				letter-spacing: 0.1em;
				@include font-size(2rem);
			}
		}
	}
}

//RESPONSIVE FEATURE
@media (max-width: 834px) {
	.project {
		margin: 0;
		flex-direction: column-reverse;
		&:nth-child(odd) {
			flex-direction: column-reverse;
		}
		&__img {
			width: 100%;
		}
		&__content {
			margin: 0;
			width: 100%;
		}
	}
}
