@import "config";
@import "home";
@import "sidebar";
@import "mouse";
@import "aboutimg";
@import "about";
@import "project";
@import "contact";
@import "../../node_modules/rfs/sass.sass";

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: $light-navy;

	h1,
	h2,
	h3,
	p {
		margin: 0;
		padding: 0;
	}

	p {
		line-height: 1.5;
		font-size: calc(0.675rem + (62.5vw - 30em) / 72);
	}
	section {
		@include margin(0 0 0 5rem);
		@include padding(0 1.5rem);
	}
	a {
		text-decoration: none;
		text-decoration-skip-ink: auto;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		color: $green;
	}

	button {
		@include padding(15px 40px);
		font-size: calc(0.775rem + (62.5vw - 30em) / 72);
		border: none;
		background-color: transparent;
		color: $green;
		text-transform: uppercase;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		font-family: "JetBrains Mono", monospace;
		font-weight: 300;
		letter-spacing: 1px;
		border-radius: 40px;
		border: 2px solid $green;
		width: fit-content;
		margin: 0 auto;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		&:hover {
			background-color: $green-tint;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
				rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
				rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		}
	}
	.footer {
		display: flex;
		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $slate;
		font-family: "JetBrains Mono", monospace;
		&:hover {
			color: $green;
		}
	}
	.about,
	.contact,
	.project-wrapper {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 1rem;
		margin: 3rem 0;
		border-radius: 20px;
	}
}

//RESPONSIVE FEATURE
@media (max-width: 834px) {
	body {
		p {
			line-height: 1.5;
			font-size: calc(0.875rem + (62.5vw - 30em) / 72);
		}
	}
}

@keyframes tipsy {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}
